@model rs1_pet_shop_webapp.ViewModels.Admin.AdminKategorijaVM
@{
    ViewData["Title"] = "Drzava";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Drzava</h1>
<form method="post" asp-route="AdminKategorijaDodaj" class="box-shadow p-1 mt-2 mb-2 border-info border-top" style="border: 1px solid">
    <h3>Quick add: </h3>
    <div class="form-group d-flex flex-wrap">
        <label asp-for="Vrsta" class="d-none">Vrsta</label>
        <input type="text" class="form-control col-9" name="Vrsta" id="Vrsta" asp-for="Vrsta" placeholder="Vrsta kategorije" />
        <button type="submit" class="btn btn-primary col-2 offset-1">Dodaj</button>
        <span asp-validation-for="Vrsta" class="text-danger col-12"></span>
    </div>
</form>

@if (Model?.KategorijaList?.Count() > 0)
{
    <h3>Drzava count: @Model?.KategorijaList?.Count</h3>
    <ul class="list-unstyled">
        @foreach (var kategorija in Model.KategorijaList)
        {
            <li class="media my-1 d-flex">
                <div class="d-flex flex-row w-100">
                    <form class="d-flex col-10" asp-route="AdminKategorijaUredi" method="post">
                        <input type="hidden" name="Id" value="@kategorija.Id" />
                        <input class="col-8 rounded" type="text" name="Vrsta" asp-for="Vrsta" value="@kategorija.Vrsta" placeholder="Vrsta" />
                        <button class="btn btn-info col-3 offset-1">Uredi</button>
                    </form>
                    <form class="col-2 p-0" asp-route="AdminKategorijaObrisi" method="post" onsubmit="return confirm('Obrisi kategoriju?');">
                        <input type="hidden" name="Id" value="@kategorija.Id" />
                        <button class="btn btn-danger w-100">Obrisi</button>
                    </form>
                </div>
            </li>
        }
    </ul>
}

