@model rs1_pet_shop_webapp.ViewModels.Admin.AdminNarudzbaVM;
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<style>
    table.table td,
    table.table th{
        vertical-align: middle;
        padding: 0.25rem;
    }
    table.table td{
        text-align: center;
    }
</style>

<h1>Narudzbe</h1>

<table class="w-100 table-secondary table table-striped">
    <thead class="thead-dark">
        <tr>
            <th>Id</th>
            <th>Adresa</th>
            <th>Aktivna </th>
            <th>Datum</th>
            <th>Zavrsena</th>
            <th>Akcija</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.NarudzbaList?.Count > 0)
        {
            @foreach (var narudzba in Model.NarudzbaList)
            {
                <tr>
                    <td>@narudzba.Id</td>
                    <td>@(narudzba.Adresa != null ? narudzba.Adresa.Naziv : "")</td>
                    @if (narudzba.Aktivna)
                    {
                        <td class="bg-success">&nbsp;</td>
                    }
                    else
                    {
                        <td class="bg-danger">&nbsp;</td>
                    }
                    <td> @narudzba.Datum</td>
                    @if (narudzba.Zavrsena)
                    {
                        <td class="bg-success">&nbsp;</td>
                    }
                    else
                    {
                        <td class="bg-danger">&nbsp;</td>
                    }
                    <td><a asp-route="AdminNarudzbaPregled" asp-route-id="@narudzba.Id" class="btn btn-success">Pregled</a></td>
                </tr>
            }
        }
        else
        {
            <tr colspan="5">
                <td>Narudzbe nisu pronadjene!</td>
            </tr>
        }
    </tbody>
</table>
